@model Fannan.Web.Entities.User

<p class="fw-bold h4">Profile</p>
@if (Model.Username == ViewBag.Username)
{
    <form action="/Profile" method="post" class="form">
        <div class="row mb-3">
            <div class="input-group col">
                <label asp-for="FirstName" class="input-group-text">First name</label>
                <input type="text" class="form-control" asp-for="FirstName">
            </div>
            <div class="input-group col">
                <label asp-for="LastName" class="input-group-text">Last name</label>
                <input type="text" class="form-control" asp-for="LastName">
            </div>
        </div>
        <div class="input-group mb-3">
            <label asp-for="DateOfBirth" class="input-group-text">Birthday</label>
            <input type="date" class="form-control" asp-for="DateOfBirth">
        </div>
        <div class="input-group mb-3">
            <label asp-for="PhoneNumber" class="input-group-text">Phone</label>
            <input type="text" class="form-control" asp-for="PhoneNumber">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Gender" class="input-group-text">Gender</label>
            <input type="text" class="form-control" asp-for="Gender">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Bio" class="input-group-text">Bio</label>
            <textarea asp-for="Bio" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
}
else
{
    <div class="row mb-3">
        <div class="input-group col">
            <label class="input-group-text">First name</label>
            <input type="text" class="form-control" asp-for="FirstName" readonly>
        </div>
        <div class="input-group col">
            <label asp-for="LastName" class="input-group-text">Last name</label>
            <input type="text" class="form-control" asp-for="LastName" readonly>
        </div>
    </div>
    <div class="input-group mb-3">
        <label asp-for="DateOfBirth" class="input-group-text">Birthday</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" readonly>
    </div>
    <div class="input-group mb-3">
        <label asp-for="PhoneNumber" class="input-group-text">Phone</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" readonly>
    </div>
    <div class="input-group mb-3">
        <label asp-for="Gender" class="input-group-text">Gender</label>
        <input type="text" class="form-control" asp-for="Gender" readonly>
    </div>
    <div class="input-group mb-3">
        <label asp-for="Bio" class="input-group-text">Bio</label>
        <textarea asp-for="Bio" class="form-control" readonly></textarea>
    </div>
}

@section sidebar{
    <img src="/api/medias/@Model.ProfilePictureId" style="width: auto; height: 100px;" class="rounded-circle mb-3" />
    <p class="fw-bold m-0">@Model.Username</p>
    <p class="mb-2">@Model.Email</p>
    <p class="fw-bold m-0">Bio</p>
    <p class="m-0">@Model.Bio</p>
}
