@{
    Layout = "AuthLayout";
}
<div class="m-auto" style="max-width: 330px;">
    <form>
        <h1 class="mb-3 text-center">Fannan Log in</h1>
        <h6 class="mb-5 text-body-secondary text-center">Hey, Enter your details to get logged into your account</h6>

        <div class="input-group mb-3">
            <label for="floatingInput" class="input-group-text">Email address</label>
            <input type="email" class="form-control" id="floatingInput">
        </div>
        <div class="input-group">
            <label for="floatingPassword" class="input-group-text">Password</label>
            <input type="password" class="form-control" id="floatingPassword">
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
        <p class="mt-4 text-body-secondary text-center">Don't have an account yet? <a href="#">Sign up</a></p>
        <p class="mt-1 text-body-secondary text-center">&copy; Fannan 2024</p>
    </form>
</div>