@model SignupModel
@{
    Layout = "AuthLayout";
}
<div class="m-auto" style="max-width: 800px;">
    <form asp-action="Signup">
        <h1 class="mb-3 text-center">Fannan Signup</h1>
        <h6 class="mb-5 text-body-secondary text-center">Hey, Enter your details to create a new account</h6>

        <div asp-validation-summary="All" class="text-danger"></div>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span class="text-danger">@ViewBag.Message</span>
        }

        <div class="row mb-3">
            <div class="input-group col">
                <label asp-for="FirstName" class="input-group-text">Firstname</label>
                <input type="text" class="form-control" asp-for="FirstName">
            </div>
            <div class="input-group col">
                <label asp-for="LastName" class="input-group-text">Lastname</label>
                <input type="text" class="form-control" asp-for="LastName">
            </div>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Username" class="input-group-text">Username</label>
            <input type="text" class="form-control" asp-for="Username">
        </div>

        <div class="input-group mb-3">
            <label asp-for="Email" class="input-group-text">Email address</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>

        <div class="input-group mb-3">
            <label asp-for="Password" class="input-group-text">Password</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
        <p class="mt-4 text-body-secondary text-center">Already have an account? @Html.ActionLink("Log in", "Login")</p>
        <p class="mt-1 text-body-secondary text-center">&copy; Fannan 2024</p>
    </form>
</div>